@using Ext.Net
@using Ext.Net.MVC
@{
    ViewBag.Title = "预警告之单";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var X = Html.X();
}

@section headtag
{
    <meta http-equiv=Content-Type content="text/html; charset=gb2312">

    <title>预警告之单</title>
}

@section menu
{
    <body lang=ZH-CN style='tab-interval:21.0pt;text-justify-trim:punctuation'>

        <style media="print">.printer {display:none;}</style>
        <p><button type="button" onclick="window.print()" class="printer">打印</button></p>

        <div>

            <p style='text-align:center'><span lang=EN-US
                style='font-size:28.0pt;'><o:p>&nbsp;</o:p></span></p>

            <p style='text-align:center'>
	            <span style='font-weight:bold;font-size:40.0pt;font-family:宋体;'>预警告之单</span></p>
	            <br><br><br>

            <p style="text-indent: 21.0pt; line-height: 1.2;"><span
                style="font-family:宋体;font-size:24.0pt;">@ViewData["Note"]</span></p>

        </div>

    </body>
}