<!DOCTYPE html>

<html>
<head>
	<title>Ext.NET Examples - ASP.NET (WebForms + MVC) component framework integrating the cross-browser Sencha Ext JS JavaScript Library.</title>
    <link rel="stylesheet" href="@Url.Content("~/resources/css/main.css")" />
	<script src="@Url.Content("resources/js/main.js")"></script>
</head>
<body>
    @Html.X().ResourceManager()
    @Html.X().History().Listeners(l => l.Change.Fn = "change")

    <div class="title">
		login <span class="title-sub">(Version 1.0)</span>
	</div>

</body>
</html>