@using Ext.Net
@using Ext.Net.MVC

@{
    ViewBag.Title = "整改措施数据库";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var X = Html.X();
}

@section headtag
{
    <script>
    </script>
}

@section menu
{   
    <form id="fileUpload" enctype="multipart/form-data">
        @(X.FormPanel()
            .ID("BasicForm")
            .Width(500)
            .Frame(true)
            .Title("请上传excel模板文件")
            .PaddingSpec("10px 10px 0 10px")
            .FieldDefaults(fd => fd.LabelWidth = 50)
            .Defaults(d => {
                    d.Add(new Parameter("anchor", "95%", ParameterMode.Value));
                    d.Add(new Parameter("allowBlank", "false", ParameterMode.Raw));
                    d.Add(new Parameter("msgTarget", "side", ParameterMode.Value));
            })
            .Items(                
                X.FileUploadField()
                    .ID("FileUploadField")
                    .EmptyText("请选择上传的文件")
                    .ButtonText("")
                    .Icon(Icon.ImageAdd)
            )
            .Listeners(l => l.ValidityChange.Handler = "#{SaveButton}.setDisabled(!valid);")
            .Buttons(
                X.Button()
                    .ID("SaveButton")
                    .Text("上传")
                    .Disabled(false)
                    .DirectEvents(de => {
                        de.Click.Url = Url.Action("UploadClick");
                        de.Click.FormID = "fileUpload";
                        de.Click.Before = @"if (!#{BasicForm}.getForm().isValid()) { return false; } 
                            Ext.Msg.wait('正在上传中...', '请等待');";
                        de.Click.Failure = @"Ext.Msg.show({ 
                                title   : '', 
                                msg     : '上传出错', 
                                minWidth: 200, 
                                modal   : true, 
                                icon    : Ext.Msg.ERROR, 
                                buttons : Ext.Msg.OK 
                            });";
                    })
            )
        )
    </form>
}
		
		