@using Ext.Net
@using Ext.Net.MVC
@{
    ViewBag.Title = "新建隐患预警";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var X = Html.X();
}

@section headtag
{
    <style>
        .search-item {
            font          : normal 11px tahoma, arial, helvetica, sans-serif;
            padding       : 3px 10px 3px 10px;
            border        : 1px solid #fff;
            border-bottom : 1px solid #eeeeee;
            white-space   : normal;
            color         : #555;
        }
        
        .search-item h3 {
            display     : block;
            font        : inherit;
            font-weight : bold;
            color       : #222;
            margin      :0px;
        }

        .search-item h3 span {
            float       : right;
            font-weight : normal;
            margin      : 0 0 5px 5px;
            width       : 100px;
            display     : block;
            clear       : none;
        } 
        
        p { width: 650px; }
        
        .ext-ie .x-form-text { position : static !important; }
    </style>  
    <script>
        var CreateThreatCase = function(extraParams) {
            if (!this.up('form').isValid())
                return false;
            Ext.ComponentQuery.query('checkboxgroup').forEach(function(item, index) {
                if (item.isXType('checkboxgroup', true)) {
                    var count = 0;
                    extraParams['groups1[' + index + '].FieldLabel'] = item.fieldLabel;
                    Ext.ComponentQuery.query('checkbox', item).forEach(function(innerItem) {
                        if (innerItem.isXType('checkbox') && innerItem.checked) {
                            extraParams['groups1[' + index + '].CheckedItems[' + count + '].BoxLabel'] = innerItem.boxLabel;
                            count++;
                        }
                    });
                }
            });

            Ext.ComponentQuery.query('radiogroup').forEach(function(item, index) {
                if (item.isXType('radiogroup', true)) {
                    var count = 0;
                    extraParams['groups2[' + index + '].FieldLabel'] = item.fieldLabel;
                    Ext.ComponentQuery.query('checkbox', item).forEach(function(innerItem) {
                        if (innerItem.isXType('radio') && innerItem.checked) {
                            extraParams['groups2[' + index + '].CheckedItems[' + count + '].BoxLabel'] = innerItem.boxLabel;
                            count++;
                        }
                    });
                }
            });
            return true;
        };
    </script>
}

@section menu
{
    @(X.Viewport()
        .Layout(LayoutType.Column)
        .Items(
            X.FormPanel()
                .ID("ThreatCasePanel")
                .Title("隐患详细信息")
                .Frame(true)
                .Width(600)
                .BodyPadding(10)
                .FieldDefaults(fd => { fd.LabelWidth = 110; fd.LabelStyle = "color:green;padding-left:4px;"; })
                .Buttons(
                    X.Button()
                        .ID("CreateButton")
                        .Text("新建")
                        .Icon(Icon.Disk)
                        .DirectEvents(de => {
                            de.Click.Url = Url.Action("CreateThreatCase");
                            de.Click.Before = "CreateThreatCase.call(this, extraParams);";
                        }),
                
                    X.Button()
                        .Text("取消")
                        .OnClientClick("this.up('form').reset();")
                )
                .Items(
                    X.Container()
                        .Layout(LayoutType.HBox)
                        .MarginSpec("0 0 10"),
            
                    X.FieldSet()
                        .Title("工程信息")
                        .Layout(LayoutType.Anchor)
                        .Collapsible(true)
                        .Collapsed(false)
                        .DefaultAnchor("100%")
                        .Items(
                            X.ComboBox()
                            .ID("ProjectId")
                            .FieldLabel("工程")
                            .EmptyText("请输入关键字或*")
                            .DisplayField("ProjectName")
                            .ValueField("ProjectId")
                            .TypeAhead(true)
                            .PageSize(15)
                            .HideBaseTrigger(true)
                            .MinChars(0)
                            .TriggerAction(TriggerAction.All)
                            .ListConfig(Html.X().BoundList()
                                .LoadingText("搜索中...")
                                .ItemTpl(Html.X().XTemplate()
                                    .Html(@<text>
                                        <div class="search-item">
							                <h3><span>{ProjectName}</span></h3>
							                {ProjectLocation}
						                </div>
                                    </text>)
                                ))
                                .Store(Html.X().Store()
                                .AutoLoad(true)
                                .Proxy(Html.X().AjaxProxy()
                                    .Url(Url.Action("GetAllProjects"))
                                    //.Url(Url.Action("GetData"))
                                    .ActionMethods(am => am.Read = HttpMethod.POST)
                                    .Reader(Html.X().JsonReader().Root("data"))
                                )
                                .Model(Html.X().Model()
                                    .Fields(
                                        Html.X().ModelField().Name("ProjectId"),
                                        Html.X().ModelField().Name("ProjectName"),
                                        Html.X().ModelField().Name("ProjectLocation")
                                    )
                                )
                            ),
                            X.TextField().DataIndex("ProjectLocation").FieldLabel("施工地点")
                        ),
                        X.FieldSet()
                        .Title("施工队信息")
                        .Layout(LayoutType.Anchor)
                        .Collapsible(true)
                        .Collapsed(false)
                        .DefaultAnchor("100%")
                        .Items(
                            X.ComboBox()
                            .ID("OrgnizationId")
                            .FieldLabel("工程")
                            .EmptyText("请输入关键字或*")
                            .DisplayField("ProjectName")
                            .ValueField("ProjectId")
                            .TypeAhead(true)
                            .PageSize(15)
                            .HideBaseTrigger(true)
                            .MinChars(0)
                            .TriggerAction(TriggerAction.All)
                            .ListConfig(Html.X().BoundList()
                                .LoadingText("搜索中...")
                                .ItemTpl(Html.X().XTemplate()
                                    .Html(@<text>
                                        <div class="search-item">
							                <h3><span>{ProjectName}</span></h3>
							                {ProjectLocation}
						                </div>
                                    </text>)
                                ))
                                .Store(Html.X().Store()
                                .AutoLoad(true)
                                .Proxy(Html.X().AjaxProxy()
                                    .Url(Url.Action("GetAllProjects"))
                                    //.Url(Url.Action("GetData"))
                                    .ActionMethods(am => am.Read = HttpMethod.POST)
                                    .Reader(Html.X().JsonReader().Root("data"))
                                )
                                .Model(Html.X().Model()
                                    .Fields(
                                        Html.X().ModelField().Name("ProjectId"),
                                        Html.X().ModelField().Name("ProjectName"),
                                        Html.X().ModelField().Name("ProjectLocation")
                                    )
                                )
                            ),
                            X.TextField().DataIndex("ProjectLocation").FieldLabel("施工地点")
                        )
                        )
                )
            )
    )
}