<?xml version="1.0" encoding="utf-8" ?>
<menu>
  <order>
    <folder name="Getting_Started" />
  </order>
  <new version="2.2">
    <folder name="Buttons_Basic\Views\Default_Button" />
    <folder name="Buttons_Basic\Views\ImageButton" />
    <folder name="Buttons_Basic\Views\LinkButton" />
    <folder name="Buttons_Basic\Views\Overview" />    
  </new>

  <menuAttribute version="2.2">
    <menu name="Member" display = "系统管理" />
    <menu name="Organization" display = "集团组织结构" />
    <menu name="User" display = "用户管理" />
    <menu name="Permission" display = "权限管理管理" />
  </menuAttribute>
  
</menu>