<?xml version="1.0" encoding="utf-8" ?>
<menu>
  <order>
    <folder name="Getting_Started" />
  </order>
  <new version="2.2">
    <folder name="Buttons_Basic\Views\Default_Button" />
    <folder name="Buttons_Basic\Views\ImageButton" />
    <folder name="Buttons_Basic\Views\LinkButton" />
    <folder name="Buttons_Basic\Views\Overview" />    
  </new>

  <menuAttribute version="2.2">
    <menu name="Home" display = "主页" />
    <menu name="LucenceEngine" display = "法律法规及企业规范文档" />
    <menu name="Alarm" display = "文档查询" />
    <menu name="FileManage" display = "文档上传" />
    <menu name="Member" display = "系统管理" />
    <menu name="Organization" display = "施工安全管理组织结构" />
    <menu name="User" display = "用户管理" />
    <menu name="Permission" display = "权限管理" />
    <menu name="Project" display = "项目管理" />
    <menu name="Threat" display = "隐患排查预警管理" />
    <menu name="CreateThreatCase" display = "隐患预警申报" />
    <menu name="ThreatCase" display = "隐患排查预警库" />
    <menu name="MyThreatCase" display = "待处理的隐患排查预警" />
    <menu name="ThreatCorrectionTemplate" display = "隐患排查预警整改库模板" />
  </menuAttribute>
  
</menu>