@using Ext.Net
@using Ext.Net.MVC

@{
    ViewBag.Title = "预警管理";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var X = Html.X();
}

@section headtag
{
    <script>
        function comboxRelation() {
            if (App.ComboBoxCountry.getValue() === '企业内部管理制度')
                App.ComboBoxCity.hide();
            else {
                App.ComboBoxCity.show();
            }
        }
    </script>
}

@section menu
{   
    <form id="fileUpload" enctype="multipart/form-data">
        @(X.FormPanel()
            .ID("BasicForm")
            .Width(500)
            .Frame(true)
            .Title("File Upload Form")
            .PaddingSpec("10px 10px 0 10px")
            .FieldDefaults(fd => fd.LabelWidth = 50)
            .Defaults(d => {
                    d.Add(new Parameter("anchor", "95%", ParameterMode.Value));
                    d.Add(new Parameter("allowBlank", "false", ParameterMode.Raw));
                    d.Add(new Parameter("msgTarget", "side", ParameterMode.Value));
            })
            .Items(
                X.ComboBox()
                        .ID("ComboBoxCountry")
                        .Editable(false)
                        .QueryMode(DataLoadMode.Local)
                        .TriggerAction(TriggerAction.All)
                        .SelectOnFocus(true)
                        .EmptyText("")
                        .Listeners(ls =>
                            ls.Select.Handler = "comboxRelation();"
                        )
                        .Items(
                            new ListItem("法律及法规"),
                            new ListItem("企业内部管理制度")
                        ),
                X.ComboBox()
                        .ID("ComboBoxCity")
                        .TypeAhead(true)
                        .QueryMode(DataLoadMode.Local)
                        .ForceSelection(true)
                        .TriggerAction(TriggerAction.All)
                        .DisplayField("name")
                        .ValueField("id")
                        .EmptyText("")
                        .Items(
                            new ListItem("国家"),
                            new ListItem("行业"),
                            new ListItem("地方")
                          ),
                X.TextField()
                    .ID("FileName")
                    .FieldLabel("FileName"),
                
                X.FileUploadField()
                    .ID("FileUploadField1")
                    .EmptyText("Select a file")
                    .FieldLabel("FileName")
                    .ButtonText("")
                    .Icon(Icon.ImageAdd)
            )
            .Listeners(l => l.ValidityChange.Handler = "#{SaveButton}.setDisabled(!valid);")
            .Buttons(
                X.Button()
                    .ID("SaveButton")
                    .Text("Save")
                    .Disabled(true)
                    .DirectEvents(de => {
                        de.Click.Url = Url.Action("UploadClick");
                        de.Click.FormID = "fileUpload";
                        de.Click.Before = @"if (!#{BasicForm}.getForm().isValid()) { return false; } 
                            Ext.Msg.wait('Uploading your photo...', 'Uploading');";
                        de.Click.Failure = @"Ext.Msg.show({ 
                                title   : 'Error', 
                                msg     : 'Error during uploading', 
                                minWidth: 200, 
                                modal   : true, 
                                icon    : Ext.Msg.ERROR, 
                                buttons : Ext.Msg.OK 
                            });";
                    }),
                
                X.Button()
                    .Text("Reset")
                    .OnClientClick("#{BasicForm}.getForm().reset();")
            )
        )
    </form>
}
		
		