@(Html.X().Panel()
    .Header(false)
    .Region(Region.North)
    .Border(true)
    .Height(90)
    .Content(
        @<text>
		    <div class="header">
			    <div class="left">
			        <div class="title">
			            水电工程施工安全隐患排查预警系统 <span class="title-sub">(Version 1.0)</span>
			        </div>
			    </div>
			    <div class="right">
			       @* <div class="button-title">*@
                        @(Html.X().LinkButton()
                          .Icon(Icon.ControlPowerBlue)
                          .IconAlign(IconAlign.Left)
                          .Text("退出")
                          .DirectEvents(de =>
                              de.Click.Url = Url.Action("LogOff", "Login")
                          ))            
			        @*</div>*@
			    </div>
		    </div>
        </text>
    )
)