@(Html.X().Panel()
    .Header(false)
    .Region(Region.North)
    .Border(true)
    .Height(90)
    .Content(
        @<text>
		    <div class="header">
			    @*<div class="left">*@
				    <div class="title">
					    水电工程施工安全隐患排查预警系统 <span class="title-sub">(Version 1.0)</span>
				    </div>
			    @*</div>*@
			    @*<div class="right">
                    <div class="button-group">
					    <a class="button" style="" href="http://menus.ext.net/">主页</a>
					    <a class="button" href="http://menus1.ext.net">注册</a>
					    <a class="button" href="http://ext.net">退出</a>
                    </div>
			    </div>*@
		    </div>
        </text>
    )
)